<md-toolbar class="md-menu-toolbar">
  <md-menu-bar>
    <md-menu>
      <md-button ng-click="$mdMenu.open()">
        Staff Data
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="brwStaff">
            Browse Staff Data
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ui-sref="addStaff">
            New Staff Data
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-menu>
      <md-button ng-click="$mdMenu.open()">
        Group Data
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="">
            Browse Group Data
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="">
            New Group Data
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-menu-bar>
</md-toolbar>
